<%@comments = Article.find(params[:comment][:article_id].to_i).comments%>
$("#comments").html(" <%= j( render :partial => "articles/comments", 
                             :locals => {:comments => @comments} ) %>")
$("#comment_content").val("");