<h1>EDIT ARTICLE</h1>
<%= form_for @article, :url => admin_article_path(@article.id) do |f| %>
  Title: <%= f.text_field :title %>
  <br />
  Body: <%= f.text_area :body %>
  <br />
  <%= f.submit :update %>
<% end %>