<h1>LIST OF ARTICLES</h1>
<% @articles.each do |article| %>
  <%= article.title %>
  <%= article.body %>
  <%= link_to "Edit", edit_admin_article_path(article.id) %>
  <%= link_to "Show", admin_article_path(article.id) %>
  <% if current_user.is_admin %>
    <%= link_to "Delete", admin_article_path(article.id), :method => :delete %>
  <% end %>
<br />
<% end %>
<br />
<br />

<%= link_to "Create New Articles", new_admin_article_path %>

