<h1>ARTICLE DETAIL</h1>

<!-- Article ID: <%= @article.id %><br /> -->
<h3><%= @article.title %></h3><br />
<%= @article.body %><br /><br />
Rating: <%= @article.rating %><br />
Created: <%= @article.created_at %>
<br />
<br />

<!--to show comments of the current article -->
<div id="comments">
  <h3>Comments:</h3>	
  <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div>
<br />
<br />

<% unless(current_user.nil?) %> 
  <%= form_for @comment, :url => admin_comments_path, :remote => true do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :article_id, :value => @article.id %>
    <%= submit_tag "Save Comment" %>
  <% end %>
<% end %>
<br />
<br />
<%= link_to "Back", admin_articles_path %>