<h1>LIST OF ARTICLES</h1>
<% @articles.each do |article| %>
  <%= article.title %>
  <%= article.body %>
  <%= link_to "Edit", edit_article_path(article.id) %>
  <%= link_to "Show", article_path(article.id) %>
<br />
<% end %>
<br />
<br />

<%= link_to "Create New Articles", new_article_path %>

