<h1>NEW ARTICLE</h1>
<%= flash[:notice]%>
<%= form_for @article, :url => articles_path do |f| %>
  <% if @article.errors.any? %>
    <div id="errorExplanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  Title: <%= f.text_field :title %>
  <br />
  Body: <%= f.text_area :body %>
  <br />
  <%= f.submit :save %>
<% end %>

