<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
	
<%= flash[:notice]%>
<%= flash[:error]%>
<%= raw(welcome_text) %>
<%= yield %>

</body>
</html>
